<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact List</title>
</head>
<body>
    <h1>Contact List</h1>
    <ul>
        {% for contact in contacts %}
            <li>
                <a href="{% url 'contact_detail' contact.pk %}">{{ contact.name }}</a>
                (<a href="{% url 'contact_update' contact.pk %}">Edit</a>)
                (<a href="{% url 'contact_delete' contact.pk %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'contact_create' %}">Create New Contact</a>
</body>
</html>
